<style type="text/css">
    div.column {
    /*border-style: solid;*/
    /*border-width: 1px;*/
  }

  .row {
    width: 90%;
    margin: auto;
  }

  .row-dl {
    width: 90%;
    margin: auto;
    background-color: white;
  }

  @media (min-device-width: 698px) {
    .column {
      width: 100%;
      height: 130px;
      display: inline;
      float: left;
    }
  }

  .column {
    text-align: left;
    vertical-align: middle;
    width: 100%;
    height:120px;
    margin: auto;
  }
  .job-title {
    margin: 10px;
    font-size: 16px;
    font-weight: bold
  }
  .job-details {
    margin: 15px;
    font-size: 14px;
  }

</style>
<!DOCTYPE html>
<html>
<head>
  <title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </title>
</head>
<body>
  <% for i in 0..4 do %>
  <% break if i >= latest_jobs.length%>
    <div class="row <%= i%2==0? 'row-dl' : ''%>">
      <div class="column">
        <span class="job-title" title="<%=latest_jobs[i].title %>"> &#8226; <%= link_to truncate(latest_jobs[i].title.upcase, :separator => ' ',  :omission => '...', :length => 60), job_show_path(:id => latest_jobs[i].id)%> </span><br>
        <span class="job-details"><%= truncate(latest_jobs[i].full_desc, :separator => ' ', :omission => '...', :length => 200) %></span><br>
        <span class="job-details">- Location: <%= truncate(latest_jobs[i].location.address, :separator => ' ', :omission => '...', :length => 200) %></span><br>
        <span class="job-details">- Salary: <%= truncate(latest_jobs[i].salary, :separator => ' ', :omission => '...', :length => 200) %></span>
      </div>
    </div>
  <% end %>
</body>
</html>