<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h4>Dear: <%= @mail_info[:full_name] %></h4><br>
    <div>Thank you for applied with VenJOB. Your applied job's information is as follow:</div>
    <!-- <div> -->
      <ul>
        <li>Job title: <%= @mail_info[:job_title] %></li>
        <li>Location: <%= @mail_info[:location] %></li>
        <li>Company: <%= @mail_info[:company] %></li>
      </ul>
    <!-- </div> -->
    <h4>Your submitted information:</h4>
    <ul>
      <li>Full Name: <%= @mail_info[:full_name] %></li>
      <li>Email: <%= @mail_info[:apply_email] %></li>
      <li>CV Link: <%= @mail_info[:cv_path] %></li>
    </ul>
    Best,
  </body>
</html>
