<% for i in 0..job_size-1 do %>
<% break if i >= jobs.length%>
  <div class="row <%= i%2==0? 'row-dl' : ''%> well">
    <div class="column-job">
      <span class="job-title" title="<%=jobs[i].title %>"> &#8226; <%= link_to truncate(jobs[i].title.upcase, :separator => ' ',  :omission => '...', :length => 60), job_detail_path(:id => jobs[i].id)%> </span><br>
      <span class="job-details"><%= truncate(jobs[i].full_desc, :separator => ' ', :omission => '...', :length => 200) %></span><br>
      <span class="job-details">- Location: <%= truncate(jobs[i].address, :separator => ' ', :omission => '...', :length => 200) %></span><br>
      <span class="job-details">- Salary: <%= truncate(jobs[i].salary, :separator => ' ', :omission => '...', :length => 200) %></span>
    </div>
  </div>
<% end %>