<div class="well header-style">

  <div class="container text-center">
    <input type="text" size=50 name="search_txt" placeholder="input search text">    <button>Search</button>
  </div><br>
    <div class="container well text-center">
      <div class="tag text-center">Total jobs: <%= jobs.count%> </div>
      <div class="tag text-center">Result for: <%= search%></div>
    </div>

  </div><br>

  <div class="container-fluid bg-3">

    <div class="right-text"><%= will_paginate jobs %></div>

    <div class="jumbotron">
      <%=render partial: 'form_template/job_list', locals: {value: jobs}%>
    </div>

    <div class="right-text"><%= will_paginate jobs %></div>
</div><br>