<script type="text/javascript">
  var user_id = <%= (current_user.id if user_signed_in?) || "" %> ;

  $(document).ready(function(){
    $("input[name='my_job']").change(function(){
        $('button#apply_my_form_btn').prop('disabled', false);
        var jobId = get_selected_job();
        document.getElementById("apply_my_form_btn").childNodes[1].action = '<%= apply_path %>' + '?job_id=' + jobId;
    })
  });
</script>

<% return if value.blank? %>
<div class="container-fluid">
<% i = 0 %>
<% value.each do |job| %>
  <% break if i >= 20 %>
  <div class="container-fluid well">
    <div class="container-fluid">
      <div class="radio-button-css">
        <%= radio_button_tag("my_job", job.id, checked = false) %>
      </div>
      <div class="remove-favorite-css">
        <% if is_favorite %>
          <span id='remove_favorite' onclick='removeFavorite(this.parentNode.parentNode.parentNode, user_id, <%= job.id %>)'>
            <%= image_tag('/images/close.png', size: "25x25", title: "Remove this favorite job") %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row <%= i%2==0? 'row-dl' : 'row'%>">
        <%=link_to job.title, job_detail_path(:id => job.id), class: 'col-md-12'%>
        <br>
        <div class="col-md-12">&#10004; <%= truncate(job.short_desc, :separator => ' ', :omission => '...', :length => 200) %></div>
        <br><br>
        <div class="col-md-9">&#10004; Location: <%= job.address%></div>
        <div class="col-md-2 salary-css">&#10004; Salary: <%= job.salary%></div>
        <br>
      </div>

    </div>
  </div>
<% end %>

<div class="well container-fluid text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4 button-css">
    <div id='apply_my_form_btn'>
      <%= button_to raw("&nbsp;&nbsp;Apply&nbsp;&nbsp;"), apply_path, :class => 'btn btn-primary btn-lg'%>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
</div>