<div class="well">
  <div class="row">
    <div class="btn-group btn-breadcrumb">
        <div class="btn btn-primary navigate-apply"> &#9312; New </div>
        <div class="btn navigate-apply-disable">&#9313; Confirm</div>
        <div class="btn navigate-apply-disable">&#9314; Finish</div>
    </div>
  </div>
</div>

<div class="container well">
  <h2>Apply form</h2>
  <br>
  <%= form_for "apply_info", url: confirm_path, method: :post do |f| %>
    <%= f.hidden_field :job_id, value: @job_id%>
    <div class="field col-md-12">
      <div class="col-md-2">
        <%= f.label :full_name, 'Full Name' %>
      </div>

      <div class="col-md-10">
        <%= f.text_field :full_name, value: (@apply_full_name || @current_user.full_name), autofocus: true, size: '80', :required => true %>
      </div>
  </div><br><br>

    <div class="field col-md-12">
      <div class="col-md-2"><%= f.label :email, 'Email' %></div>
      <div class="col-md-10">
        <%= f.text_field :email, value: (@apply_email || @current_user.email), autocomplete: "off", size: '80', :required => true%>
      </div>
    </div><br><br>

    <div class="field col-md-12">
      <div class="col-md-2"><%= f.label :cv_path, 'CV Uploaded' %></div>
      <div class="col-md-10">
        <%= f.text_field :cv_path, value: (@apply_cv || @current_user.cv_path), size: '80' %>
      </div>
    </div><br><br>

    <div class="actions text-center">
      <%= f.submit "Confirm" %>
    </div>
  <% end %><br>
</div>