<div class="well">
  <div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="/" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <%= link_to @job.city_name, city_jobs_path(@job.city_id), class: 'btn btn-primary' %>

        <div class="btn btn-primary">
          <% @job.industries.each do |industry| %>
          <%= link_to industry.name, industry_jobs_path(industry.id), class: 'btn-primary'%>
          <%= @job.industries.length > 1 ? "/" : "" %>
          <% end %>
        </div>

        <div class="btn btn-primary"> <%= @job.title %> </div>
    </div>
  </div>
</div>

<div class="well container-fluid">
  <div class="col-md-10 job-title text-title"><%= @job.title %></div>
  <div class="col-md-1"><button type="button" class="btn btn-primary btn-lg">&nbsp;&nbsp;Apply&nbsp;&nbsp;</button></div>
</div>

<div class="well container-fluid">
  <div class="row">
    <div class="col-md-12 job-details">
      <span class="text-title">&#10004; Company:</span>
      <span><%= link_to @job.company_name, jobs_path(search: @job.company_name, type: 'company')%> </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12  job-details">
      <span class="text-title">&#10004; Location:</span>
      <span><%= link_to @job.address, jobs_path(search: @job.city_name, type: 'city') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12  job-details">
      <span class="text-title">&#10004; Salary:</span>
      <span><%= @job.salary %></span>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12  job-details">
      <span class="text-title">&#10004; Job Description:</span>
      <span><%= @job.full_desc %></span>
      </div>
  </div>
</div>

<div class="well container-fluid text-center">
  <div class="col-md-4"></div>
  <div class="col-md-2 button-css"><button type="button" class="btn btn-primary btn-lg">&nbsp;&nbsp;Apply&nbsp;&nbsp;</button></div>
  <div class="col-md-2 button-css"><button type="button" class="btn btn-primary btn-lg">Favorite</button></div>
  <div class="col-md-4"></div>
</div>