<script type="text/javascript">
  user_id = <%= (current_user.id if current_user).to_json%>;
  job_id = <%= @job.id %>;
</script>
<div class="well">
  <div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="/" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <%= link_to @job.city_name.upcase, city_jobs_path(@job.city_id), class: 'btn btn-primary' %>

        <div class="btn btn-primary">
          <% @job.industries.each do |industry| %>
          <%= link_to industry.name, industry_jobs_path(industry.id), class: 'btn-primary'%>
          <%= @job.industries.length > 1 ? "," : "" %>
          <% end %>
        </div>

        <div class="btn btn-primary"> <%= @job.title %> </div>
    </div>
  </div>
</div>

<div class="well container-fluid">
  <div class="col-md-10 job-title text-title"><%= @job.title %></div>
  <div class="col-md-1">
    <%= button_to raw("&nbsp;&nbsp;Apply&nbsp;&nbsp;"), apply_path(job_id: @job.id),  :class => 'btn btn-primary btn-lg'%>
  </div>
</div>

<div class="well container-fluid">
  <div class="row">
    <div class="col-md-12 job-details">
      <span class="text-title">&#10004; Company:</span>
      <span><%= link_to @job.company_name, jobs_path(search: @job.company_name, type: 'company')%> </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 job-details">
      <span class="text-title">&#10004; Address:</span>
      <span><%= @job.address %></span>
      <span class="text-title">&#10004; City:</span>
      <span><%= link_to @job.city_name, jobs_path(search: @job.city_name, type: 'city') %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12  job-details">
      <span class="text-title">&#10004; Salary:</span>
      <span><%= @job.salary %></span>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12 job-details">
      <span class="text-title">&#10004; Full Job Description & Benefit:</span><br>
        <div class="well jumbotron">
          <%= raw(@job.full_desc) %>
        </div>
    </div>
  </div>
</div>

<div class="well container-fluid text-center">
  <div class="col-md-4"></div>
  <div class="col-md-2 button-css">
    <%= button_to raw("&nbsp;&nbsp;Apply&nbsp;&nbsp;"), apply_path(job_id: @job.id), :class => 'btn btn-primary btn-lg'%>
  </div>
  <div class="col-md-2 button-css">
    <button id="mark-favorite-show" type="button" class="btn btn-primary btn-lg" onclick="markFavorite(user_id, job_id)">Favorite</button>
  </div>
  <div class="col-md-4"></div>

</div>